/*variables Font */
/* Theme Color */
/*rgb(4,9,30)*/
/*Load mixin */
/*********** font ***********/
/******** Transition *********/
/******** transform *********/
/******** animationInfinite *********/
/************* gradient **************/
/************** Shadow ************/
/*********** radius ************/
/*********** rotate ************/
/*********** flex-direction ************/
/*********** flex-direction ************/
/*********** justify-content ************/
/******** Button *********/
/*inheritance Font */
/* --------------------------------------
            1. Welcome
---------------------------------------- */
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 400px;
  perspective: 400px;
  z-index: 99; }

.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear; }

.plane {
  width: 320px;
  height: 320px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.plane.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
  transform: rotateZ(72deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
  transform: rotateZ(144deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
  transform: rotateZ(216deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
  transform: rotateZ(288deg) rotateX(63.435deg); }

.plane.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
  transform: rotateZ(360deg) rotateX(63.435deg); }

.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #00abc9, inset 0 0 60px rgba(0, 188, 212, 0.7); }

.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px #ffffff; }

.plane.main .circle::before {
  -webkit-transform: translateZ(-90px);
  transform: translateZ(-90px); }

.plane
.plane.main .circle::after {
  -webkit-transform: translateZ(90px);
  transform: translateZ(90px); }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }
/* --------------------------------------
            2. About Me
---------------------------------------- */
.fullFill, .imgOverLine, .imgOverLine::before, .imgOverLine::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.imgOverLine {
  width: 300px;
  height: 300px;
  margin: auto;
  color: #92f1f1;
  box-shadow: inset 0 0 0 1px rgba(146, 241, 241, 0.5);
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 991px) {
    .imgOverLine {
      width: 250px;
      height: 250px; } }
  @media only screen and (max-width: 767px) {
    .imgOverLine {
      width: 120px;
      height: 120px; } }
  .imgOverLine img {
    width: 300px;
    height: 300px; }
    @media only screen and (max-width: 991px) {
      .imgOverLine img {
        width: 250px;
        height: 250px; } }
    @media only screen and (max-width: 767px) {
      .imgOverLine img {
        width: 120px;
        height: 120px; } }
  .imgOverLine::before, .imgOverLine::after {
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 1px;
    animation: clipMe 8s linear infinite; }
  .imgOverLine::before {
    animation-delay: -4s; }

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 330px, 1px, 0px); }
  25% {
    clip: rect(0px, 1px, 330px, 0px); }
  50% {
    clip: rect(329px, 330px, 330px, 0px); }
  75% {
    clip: rect(0px, 330px, 330px, 329px); } }
@media only screen and (max-width: 991px) {
  @keyframes clipMe {
    0%, 100% {
      clip: rect(0px, 250px, 1px, 0px); }
    25% {
      clip: rect(0px, 1px, 250px, 0px); }
    50% {
      clip: rect(249px, 250px, 250px, 0px); }
    75% {
      clip: rect(0px, 250px, 250px, 249px); } } }
@media only screen and (max-width: 767px) {
  @keyframes clipMe {
    0%, 100% {
      clip: rect(0px, 180px, 1px, 0px); }
    25% {
      clip: rect(0px, 1px, 180px, 0px); }
    50% {
      clip: rect(179px, 180px, 180px, 0px); }
    75% {
      clip: rect(0px, 180px, 180px, 179px); } } }
/*Load Font */
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir.eot");
  src: url("../fonts/Avenir/Avenir.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/Avenir.woff") format("woff"), url("../fonts/Avenir/Avenir.ttf") format("truetype"), url("../fonts/Avenir/Avenir.svg#Avenir            ") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Avenir Roman";
  src: url("../fonts/Avenir Roman/Avenir Roman.eot");
  src: url("../fonts/Avenir Roman/Avenir Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Roman/Avenir Roman.woff") format("woff"), url("../fonts/Avenir Roman/Avenir Roman.ttf") format("truetype"), url("../fonts/Avenir Roman/Avenir Roman.svg#Avenir Roman            ") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "fontawesome";
  src: url("../fonts/fontawesome/fontawesome.eot");
  src: url("../fonts/fontawesome/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome.woff") format("woff"), url("../fonts/fontawesome/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome/fontawesome.svg#fontawesome            ") format("svg");
  font-weight: 400;
  font-style: normal; }
/*common styles */
.content {
  max-height: 500px;
  margin: 20px 0;
  overflow: auto; }

.sectionHeading {
  color: #ffffff;
  font: 40px/86px Pacifico;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 0; }
  @media only screen and (max-width: 991px) {
    .sectionHeading {
      font: 30px/46px Pacifico; } }
  @media only screen and (max-width: 767px) {
    .sectionHeading {
      font: 24px/36px Pacifico; } }

.description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff; }
  @media only screen and (max-width: 991px) {
    .description {
      font-size: 13px; } }

.textInfinite {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(6, 6, 6, 0); }

@keyframes animate {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }
/*customScrollbar styles */
/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container {
  width: auto;
  margin-right: 30px;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .mCSB_container {
      margin-right: 15px; } }
  .mCSB_container .mCS_no_scrollbar {
    margin-right: 0; }

.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar {
  margin-right: 30px; }

.mCustomScrollBox > .mCSB_scrollTools {
  width: 16px;
  height: 94%;
  top: 0;
  right: 0; }

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center; }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: relative;
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools .mCSB_buttonDown {
  top: 100%;
  margin-top: -40px; }

.mCustomScrollBox {
  -ms-touch-action: none; }
  @media only screen and (max-width: 767px) {
    .mCustomScrollBox {
      max-height: 320px !important;
      margin-right: 15px; } }

@media only screen and (max-width: 767px) {
  #aboutMe .mCustomScrollBox {
    max-height: 120px !important;
    margin-right: 15px; } }

@media only screen and (max-width: 767px) {
  #experience .mCustomScrollBox {
    max-height: 320px !important; } }

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox > .mCSB_scrollTools {
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: alpha(opacity=75); }

.mCustomScrollBox:hover > .mCSB_scrollTools {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: alpha(opacity=100); }

.mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  filter: alpha(opacity=40);
  -ms-filter: alpha(opacity=40); }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  filter: alpha(opacity=75);
  -ms-filter: alpha(opacity=75); }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85);
  filter: alpha(opacity=85);
  -ms-filter: alpha(opacity=85); }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9);
  filter: alpha(opacity=90);
  -ms-filter: alpha(opacity=90); }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(../images/mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -ms-filter: alpha(opacity=40); }

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0; }

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px; }

.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px; }

.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px; }

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: alpha(opacity=75); }

.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: alpha(opacity=90); }

/*header styles */
* {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

table {
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

strong {
  font-weight: bold; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #32333c;
  margin: 0px; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  background-color: #ececec;
  color: #102c58; }

/*  ******************************************
****************** Pre Loader **************
******************************************  */
.preLoader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/Preloader_2.gif) center no-repeat #fff; }

/*  ******************************************
************Page Scroll Arrow Down *********
******************************************  */
.pageScrollArrowdown {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 993; }
  .pageScrollArrowdown .btn {
    font-size: 30px; }
    .pageScrollArrowdown .btn .fa {
      color: #f1c40f;
      display: inline-block;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-animation-name: pageScrollArrowdown;
      -moz-animation-name: pageScrollArrowdown;
      -ms-animation-name: pageScrollArrowdown;
      -o-animation-name: pageScrollArrowdown;
      animation-name: pageScrollArrowdown;
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -ms-animation-duration: 2s;
      -o-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear; }

@-webkit-keyframes pageScrollArrowdown {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  10% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }
@keyframes pageScrollArrowdown {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  10% {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }
/*  ******************************************
************Page Scroll Arrow Down *********
******************************************  */
/*menu styles */
/* ************* page menu ************* */
#menu {
  position: fixed;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-fjustify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  right: 7px;
  height: 100%;
  z-index: 70;
  padding: 0;
  margin: 0; }
  #menu li {
    display: block;
    margin: 2px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s; }
    #menu li.active, #menu li:hover {
      transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      background-color: rgba(0, 0, 0, 0.5); }
      #menu li.active a, #menu li:hover a {
        color: #ffffff; }
    #menu li a {
      color: #000000;
      padding: 2px 4px;
      display: block;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
      #menu li a:hover {
        text-decoration: none; }
    #menu li:hover span {
      opacity: 1;
      transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s; }
    #menu li span {
      position: absolute;
      right: 28px;
      white-space: nowrap;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 2px 8px;
      -webkit-border-radius: 5px !important;
      -ms-border-radius: 5px !important;
      -moz-border-radius: 5px !important;
      -o-border-radius: 5px !important;
      border-radius: 5px !important;
      color: #000000;
      opacity: 0;
      transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s; }

/* *************  page menu ************* */
.pp-section {
  height: 100%;
  position: absolute;
  width: 100%;
  backface-visibility: hidden; }
  .pp-section.pp-table {
    display: table; }
    .pp-section.pp-table .pp-tableCell {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%; }

.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99); }

/*banner styles */
/*Custom styles */
/*Custom styles */
/* ****************************
           1. welcome
****************************** */
#welcome {
  background-color: #00abc9;
  background-image: -moz-linear-gradient(90deg, #00e4ce 0%, #00abc9 100%);
  background-image: -webkit-gradient(linear, 90deg, color-stop(0%, #00e4ce), color-stop(100%, #00abc9));
  background-image: -webkit-linear-gradient(90deg, #00e4ce 0%, #00abc9 100%);
  background-image: -o-linear-gradient(90deg, #00e4ce 0%, #00abc9 100%);
  background-image: linear-gradient(90deg, #00e4ce 0%, #00abc9 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00e4ce, endColorstr=#00abc9)*/
  width: 100%;
  height: 100%;
  position: absolute !important; }
  #welcome .destination {
    font: 24px/86px Pacifico;
    color: #000;
    text-align: center;
    position: relative;
    z-index: 99; }
    @media only screen and (max-width: 767px) {
      #welcome .destination {
        font: 18px/36px Pacifico; } }
  #welcome .hi {
    font: 60px/86px Pacifico;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 99; }
    @media only screen and (max-width: 767px) {
      #welcome .hi {
        font: 24px/46px Pacifico; } }
    #welcome .hi span {
      font-family: inherit;
      color: #e3ba00; }
  #welcome canvas {
    background-color: rgba(100, 48, 148, 0.7);
    background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.7)), color-stop(100%, rgba(100, 48, 148, 0.7)));
    background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.7), endColorstr=rgba(100, 48, 148, 0.7))*/
    position: absolute !important;
    top: 0;
    left: 0; }

#aboutMe {
  background: url(../images/skill-bg.jpg);
  background-position: center center;
  background-size: cover; }
  #aboutMe::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 48, 148, 0.5);
    background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.5) 0%, rgba(100, 48, 148, 0.5) 100%);
    background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.5)), color-stop(100%, rgba(100, 48, 148, 0.5)));
    background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.5) 0%, rgba(100, 48, 148, 0.5) 100%);
    background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.5) 0%, rgba(100, 48, 148, 0.5) 100%);
    background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.5) 0%, rgba(100, 48, 148, 0.5) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.5), endColorstr=rgba(100, 48, 148, 0.5))*/ }
  #aboutMe img {
    position: relative; }
    #aboutMe img::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(100, 48, 148, 0.7);
      background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
      background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.7)), color-stop(100%, rgba(100, 48, 148, 0.7)));
      background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
      background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
      background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
      /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.7), endColorstr=rgba(100, 48, 148, 0.7))*/ }
  #aboutMe .sectionHeading {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#86b6ff), to(#ffffff));
    background: -webkit-linear-gradient(left, #86b6ff, #ffffff);
    background: -o-linear-gradient(left, #86b6ff, #ffffff);
    background: linear-gradient(90deg, #86b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #aboutMe .fa {
    color: #e4ff00; }
  #aboutMe .description {
    color: #ffffff; }
  #aboutMe .special {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 20px 0 0 0;
    color: #144673; }
    @media only screen and (max-width: 991px) {
      #aboutMe .special {
        text-align: center;
        font-size: 15px;
        padding: 0 30px;
        position: relative;
        margin-bottom: 30px; }
        #aboutMe .special .fa {
          left: 15px;
          top: 5px;
          position: absolute; } }
  #aboutMe .aboutDots {
    padding-bottom: 20px; }
    #aboutMe .aboutDots::after, #aboutMe .aboutDots::before {
      content: "";
      position: absolute;
      width: 165px;
      height: 105px;
      background-image: url(../images/dots.svg);
      opacity: 0.6; }
    #aboutMe .aboutDots::before {
      top: -50px;
      right: -70px;
      z-index: -1; }
      @media only screen and (max-width: 1199px) {
        #aboutMe .aboutDots::before {
          top: -20px;
          right: 0px; } }
    #aboutMe .aboutDots::after {
      bottom: -50px;
      left: -70px;
      z-index: -1; }
      @media only screen and (max-width: 1199px) {
        #aboutMe .aboutDots::after {
          bottom: 0px;
          left: 0px; } }
    #aboutMe .aboutDots .personTitle {
      color: #144673;
      font: 40px/86px Pacifico;
      font-weight: 100;
      letter-spacing: 3px;
      margin-bottom: 0;
      position: relative;
      top: 10px; }
      @media only screen and (max-width: 1199px) {
        #aboutMe .aboutDots .personTitle {
          font: 30px/42px Pacifico; } }
      @media only screen and (max-width: 991px) {
        #aboutMe .aboutDots .personTitle {
          font: 24px/36px Pacifico; } }
      @media only screen and (max-width: 767px) {
        #aboutMe .aboutDots .personTitle {
          font: 20px/32px Pacifico; } }

/* **************************** 
           3. My skills
**************************** */
#skills {
  background: url(../../images/pricing-banner-bg.png);
  background-size: cover; }
  #skills::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 48, 148, 0.6);
    background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.6) 0%, rgba(100, 48, 148, 0.6) 100%);
    background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.6)), color-stop(100%, rgba(100, 48, 148, 0.6)));
    background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.6) 0%, rgba(100, 48, 148, 0.6) 100%);
    background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.6) 0%, rgba(100, 48, 148, 0.6) 100%);
    background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.6) 0%, rgba(100, 48, 148, 0.6) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.6), endColorstr=rgba(100, 48, 148, 0.6))*/ }
  #skills .sectionHeading {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#86b6ff), to(#ffffff));
    background: -webkit-linear-gradient(left, #86b6ff, #ffffff);
    background: -o-linear-gradient(left, #86b6ff, #ffffff);
    background: linear-gradient(90deg, #86b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #skills .description {
    color: #f7f7f7;
    margin: 20px 0; }
  #skills .skillsList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #skills .skillsList div {
      list-style: none;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 5px;
      width: 100%;
      color: #f7f7f7;
      font-size: 12px; }
      #skills .skillsList div strong {
        font-weight: normal; }
        #skills .skillsList div strong::after {
          content: '';
          width: 10px;
          height: 1px;
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
          background-color: #e4ff00; }
  #skills #myCanvasContainer {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center; }
  #skills #myCanvasContainer canvas {
    touch-action: none; }
  #skills #myCanvas a {
    font-family: 'Open Sans Condensed', sans-serif; }

/*  **************************** 
           4. Experience
****************************  */
#experience {
  background-image: url(../images/parallax-feature.jpg);
  background-size: cover; }
  #experience::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 48, 148, 0.7);
    background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.7)), color-stop(100%, rgba(100, 48, 148, 0.7)));
    background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.7), endColorstr=rgba(100, 48, 148, 0.7))*/ }
  @media only screen and (min-width: 992px) {
    #experience .col-lg-5 {
      -ms-flex: 0 0 46%;
      flex: 0 0 46%;
      max-width: 46%; }
    #experience .offset-lg-1 {
      margin-left: 8%; } }
  #experience .sectionHeading {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#86b6ff), to(#ffffff));
    background: -webkit-linear-gradient(left, #86b6ff, #ffffff);
    background: -o-linear-gradient(left, #86b6ff, #ffffff);
    background: linear-gradient(90deg, #86b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px; }
  #experience .fa-briefcase {
    background-color: #ffff;
    padding: 15px;
    font-size: 24px;
    border-radius: 100%;
    position: relative;
    top: 24px;
    left: -13px;
    color: #102c58; }
    @media only screen and (max-width: 991px) {
      #experience .fa-briefcase {
        top: 0; } }
  #experience .experienceContent {
    padding-top: 40px; }
    #experience .experienceContent .mainTimeline {
      position: relative; }
      #experience .experienceContent .mainTimeline::before {
        content: "";
        width: 2px;
        height: 90%;
        background: #ffffff;
        position: absolute;
        top: 1%;
        left: 50%;
        z-index: 1; }
        @media only screen and (max-width: 991px) {
          #experience .experienceContent .mainTimeline::before {
            left: 3px;
            height: 89%; } }
      #experience .experienceContent .mainTimeline .singleTimelineBox {
        margin-bottom: 50px; }
        #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTime {
          position: relative; }
          #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTime h2 {
            font-weight: 400;
            font-size: 18px;
            color: #102c58; }
          #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTime h3 {
            font-size: 16px;
            font-weight: 300;
            color: #162d52;
            margin-top: 14px;
            text-transform: uppercase; }
          #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTime span > i {
            color: #0044af;
            position: absolute;
            font-size: 10px;
            left: -13%;
            z-index: 1; }
            @media only screen and (max-width: 1199px) {
              #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTime span > i {
                left: -13.9%; } }
            @media only screen and (max-width: 991px) {
              #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTime span > i {
                display: none; } }
          @media only screen and (max-width: 991px) {
            #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTime {
              text-align: left !important;
              margin-bottom: 20px;
              margin-left: 40px; } }
        #experience .experienceContent .mainTimeline .singleTimelineBox .timeline {
          position: relative; }
          #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent h4.title {
            font-size: 16px;
            font-weight: 400;
            color: #102c58;
            text-transform: uppercase; }
          #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent h5 {
            color: #162d52;
            font-size: 14px;
            font-weight: 300;
            margin: 0px 0 5px; }
          #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent .description {
            font-size: 14px;
            color: #1f1f1f; }
          #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent span > i {
            color: #0044af;
            position: absolute;
            font-size: 10px;
            left: -13%;
            z-index: 1; }
            @media only screen and (max-width: 1199px) {
              #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent span > i {
                left: -13.9%; } }
            @media only screen and (max-width: 991px) {
              #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent span > i {
                left: 0%;
                top: -70px; } }
          #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent.right {
            float: right;
            text-align: left; }
          @media only screen and (max-width: 991px) {
            #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent .justify-content-end {
              -webkit-flex-direction: row-reverse;
              -moz-flex-direction: row-reverse;
              -ms-flex-direction: row-reverse;
              -o-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
          @media only screen and (max-width: 991px) {
            #experience .experienceContent .mainTimeline .singleTimelineBox .timeline .timelineContent {
              text-align: left !important;
              margin-bottom: 20px;
              margin-left: 40px; } }
        #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTimeResponsive {
          display: none; }
          @media only screen and (max-width: 991px) {
            #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTimeResponsive {
              display: block; } }
        @media only screen and (max-width: 991px) {
          #experience .experienceContent .mainTimeline .singleTimelineBox .experienceTimeMain {
            display: none; } }

/* **************************** 
           5. websitePlatforms
**************************** */
#websitePlatforms {
  background: #7e8990;
  text-align: center;
  background-image: url(../images/waves-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: bg-animation 25s ease-in-out infinite;
  animation: bg-animation 25s ease-in-out infinite; }
  #websitePlatforms::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 48, 148, 0.7);
    background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.7)), color-stop(100%, rgba(100, 48, 148, 0.7)));
    background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.7), endColorstr=rgba(100, 48, 148, 0.7))*/ }
@-webkit-keyframes bg-animation {
  0% {
    background-position: top; }
  50% {
    background-position: bottom; }
  100% {
    background-position: top; } }
@keyframes bg-animation {
  0% {
    background-position: top; }
  50% {
    background-position: bottom; }
  100% {
    background-position: top; } }
  #websitePlatforms .sectionHeading {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#86b6ff), to(#ffffff));
    background: -webkit-linear-gradient(left, #86b6ff, #ffffff);
    background: -o-linear-gradient(left, #86b6ff, #ffffff);
    background: linear-gradient(90deg, #86b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px; }
  @media (min-width: 768px) {
    #websitePlatforms .carousel-inner .carousel-item-right.active,
    #websitePlatforms .carousel-inner .carousel-item-next {
      transform: translateX(50%); }
    #websitePlatforms .carousel-inner .carousel-item-left.active,
    #websitePlatforms .carousel-inner .carousel-item-prev {
      transform: translateX(-50%); } }
  @media (min-width: 992px) {
    #websitePlatforms .carousel-inner .carousel-item-right.active,
    #websitePlatforms .carousel-inner .carousel-item-next {
      transform: translateX(33%); }
    #websitePlatforms .carousel-inner .carousel-item-left.active,
    #websitePlatforms .carousel-inner .carousel-item-prev {
      transform: translateX(-33%); } }
  @media (max-width: 768px) {
    #websitePlatforms .carousel-inner .carousel-item > div {
      display: none; }
    #websitePlatforms .carousel-inner .carousel-item > div:first-child {
      display: block; } }
  #websitePlatforms .carousel-inner .carousel-item.active,
  #websitePlatforms .carousel-inner .carousel-item-next,
  #websitePlatforms .carousel-inner .carousel-item-prev {
    display: flex; }
  #websitePlatforms .carousel-inner .carousel-item-right,
  #websitePlatforms .carousel-inner .carousel-item-left {
    transform: translateX(0); }

/* **************************** 
            5. websitePlatforms
 **************************** */
#WhatIDo {
  background: url(../images/bgslider1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover; }
  #WhatIDo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 48, 148, 0.7);
    background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.7)), color-stop(100%, rgba(100, 48, 148, 0.7)));
    background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.7), endColorstr=rgba(100, 48, 148, 0.7))*/ }
  #WhatIDo .sectionHeading {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#86b6ff), to(#ffffff));
    background: -webkit-linear-gradient(left, #86b6ff, #ffffff);
    background: -o-linear-gradient(left, #86b6ff, #ffffff);
    background: linear-gradient(90deg, #86b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px; }
  #WhatIDo .serviceBox {
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      #WhatIDo .serviceBox .fa-3x {
        font-size: 2rem; } }
    #WhatIDo .serviceBox h4 {
      font-family: 'Oswald', sans-serif;
      margin: 10px 0; }
      @media only screen and (max-width: 767px) {
        #WhatIDo .serviceBox h4 {
          font-size: 18px; } }
    #WhatIDo .serviceBox p {
      color: rgba(0, 0, 0, 0.7);
      letter-spacing: 0.05rem; }
      @media only screen and (max-width: 767px) {
        #WhatIDo .serviceBox p {
          margin: 0; } }

#contactMe {
  background: url(../images/blue-sea-travel-wallpapers-hd.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover; }
  #contactMe::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 48, 148, 0.7);
    background-image: -moz-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -webkit-gradient(linear, 320deg, color-stop(0%, rgba(0, 188, 212, 0.7)), color-stop(100%, rgba(100, 48, 148, 0.7)));
    background-image: -webkit-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: -o-linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    background-image: linear-gradient(320deg, rgba(0, 188, 212, 0.7) 0%, rgba(100, 48, 148, 0.7) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(0, 188, 212, 0.7), endColorstr=rgba(100, 48, 148, 0.7))*/ }
  #contactMe .sectionHeading {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#86b6ff), to(#ffffff));
    background: -webkit-linear-gradient(left, #86b6ff, #ffffff);
    background: -o-linear-gradient(left, #86b6ff, #ffffff);
    background: linear-gradient(90deg, #86b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px; }
  #contactMe .addressItem {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    border-radius: 12px !important;
    margin-bottom: 20px;
    text-align: center;
    min-height: 160px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; }
    #contactMe .addressItem .eachIcon {
      font-size: 36px;
      color: #102c58;
      margin-bottom: 20px;
      background-color: rgba(232, 232, 232, 0.37);
      width: 60px;
      height: 60px;
      -webkit-border-radius: 32px !important;
      -ms-border-radius: 32px !important;
      -moz-border-radius: 32px !important;
      -o-border-radius: 32px !important;
      border-radius: 32px !important; }
    #contactMe .addressItem .eachInfo p, #contactMe .addressItem .eachInfo a {
      color: rgba(0, 0, 0, 0.7);
      letter-spacing: 0.05rem;
      text-decoration: none;
      font-size: 16px; }

#hireMe {
  background-image: url(../images/call-to-action.jpg);
  background-position: center center;
  background-size: cover; }
  #hireMe::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 78, 249, 0.7);
    z-index: -1; }
  #hireMe .sectionHeading {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#86b6ff), to(#ffffff));
    background: -webkit-linear-gradient(left, #86b6ff, #ffffff);
    background: -o-linear-gradient(left, #86b6ff, #ffffff);
    background: linear-gradient(90deg, #86b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px; }
  #hireMe p {
    color: #fff;
    padding-bottom: 25px;
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px auto; }
  #hireMe .btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ffffff;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    text-transform: uppercase; }

/*footer styles */
/*themes styles */

/*# sourceMappingURL=app.css.map */
