$Avenir: "Avenir";;
$AvenirRoman: "Avenir Roman";;


$whiteColor:#ffffff; 
$blackColor:#000000;



/* Theme Color */    
$primaryColor:#05637e; 
$primaryHoverColor:#077fa2; 
$secondaryColor:#000000;
$whiteColor:#ffffff;
$blueColor:#04091e;/*rgb(4,9,30)*/
$blackColor:#000000;

$yellowColor:#e3ba00;


$mobile:"only screen and (max-width: 767px)";
$tablet:"only screen and (max-width: 991px)";
$desktopMin:"only screen and (min-width: 992px)";
$desktop:"only screen and (max-width:1199px)";
 
  
$borderColor:#80cfe3;
$lightGrey:#cbcbcb;

$myplay-light-grey:#bfcfd3;

$facebookColor:#3B5998;
$twitterColor:#49a7f3;
$pinterestColor:#c8232c;
$googleplusColor:#f03b3b;

$textColor:$blackColor;
$linkColor:$primaryColor;
$linkHoverColor:$primaryHoverColor;
$iconColor:$primaryColor;
 